<style>
  h1,body{color:black;}
  td,th{padding-right: 10px;}
</style>
<body>
  <p id="notice"><%= notice %></p>

  <h1>Listing Dishes</h1>
    <table class="table table-bordered table-striped">
      <thead class="bodytables">
        <tr>
          <th id="th1">Name</th>
          <th id="th2">Combo Price</th>
          <th id="th3">Solo Price</th>
          <th id="th4">Likes</th>
          <th id="th5">Stall</th>
          <th id="th6" colspan="3">Actions</th>
        </tr>
      </thead>

      <tbody class="scroll bodytables">
        <% @dishes.each do |dish| %>
          <tr>
            <td class="tddishes"><%= dish.name %></td>
            <td class="tddishes"><%= dish.combo_p %></td>
            <td class="tddishes"><%= dish.solo_p %></td>
            <td class="tddishes"><%= dish.likes %></td>
            <td class="tddishes"><%= dish.stall.name%></td>
            <td class="tddishes"><%= link_to 'Show', dish %></td>
            <td class="tddishes"><%= link_to 'Edit', edit_dish_path(dish) %></td>
            <td class="tddishes"><%= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <br>

  <%= link_to 'View Stalls', stalls_path %>
</body>