<!DOCTYPE html>
<html>
<head>
  <title>Eats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <!--Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/jquery.easing.min.js"></script>
    <script src="javascripts/main.js"></script>
    <span class="notice"><%= notice %></span>
    <span class="alert"><%= alert %></span>
<%= yield %>

</body>
</html>
